<!DOCTYPE html>
<html>
<head>
</head>

<body>
  <form method="POST" action="/display">
    <p>Name: <%= "#{params[:name]}" %> <input type="text" name="name"></p>
    <p>Breed: <%="#{params[:breed]}" %> <input type="text" name="breed"></p>
    <p>Age: <%= "#{params[:age]}" %> <input type="text" name="age"></p>
    <input type="submit" name="submit" id="submit" value="submit">
  </form>
</body>
</html>
